/* =====================================================
   TYPOGRAPHY
===================================================== */

h1{

    font-size:64px;

    font-weight:800;

    line-height:1.05;

    color:var(--text);

}

h2{

    font-size:48px;

    font-weight:800;

    color:var(--text);

}

h3{

    font-size:36px;

    font-weight:700;

}

h4{

    font-size:28px;

    font-weight:700;

}

h5{

    font-size:22px;

    font-weight:700;

}

h6{

    font-size:18px;

    font-weight:700;

}

p{

    color:var(--text-muted);

    font-size:16px;

    line-height:1.8;

}

.small{

    font-size:14px;

}

.text-center{

    text-align:center;

}

.text-primary{

    color:var(--primary);

}

.text-muted{

    color:var(--text-muted);

}

.text-gradient{

    background:linear-gradient(
        90deg,
        var(--primary),
        var(--secondary)
    );

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;

}